body {
    background-color: white;
    color: #196060;
}

.first-class {
    color: red;
    font-weight: bold;
}

.second-class {
    background-color: aqua;
}

#first-id {
    color: green;
}

header span {
    background-color: lightcoral;
    color: white
}

section .primary span {
    background-color: lightblue;
    color: white;
}

/* Chapter 14. CSS: Layout - Key Concept */
.inline-element {
    display: inline;
    border: 1px dotted #26BCCE;
    background-color: #23ACBB;
}

.block-element {
    display: block;
    border: 1px dotted #26BCCE;
    background-color: #B3EBEF;
}

.inline-block-element {
    display: inline-block;
    border: 1px dotted #26BCCE;
    background-color: #55D0DC;
}